/*  Typhography */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$fontFamily-title: "Montserrat", sans-serif;
$fontFamily-body: "Crimson Text", serif;

$fontWeight-normal: "400";
$fontWeight-bold: "700";
